*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

body{
  background: url(/Calculator/Math_BG.jpg);
  background-size: cover;
}
.container{
  position: absolute;
  top: 53%;
  left: 50%;
  border: 3px solid black;
  transform: translate(-50%, -50%);
  border-radius: 8px 8px 0 0;
  background: white;
  box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.4);
}

.result{
  background-color: #413e3e;
  color: white;
  padding: 20px;
  font-size: 20px;
}

.buttons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1px;
}

.row{
  display: flex;
  justify-content: space-around;
  gap: 1px;
}

.row button{
  height: 75px;
  width: 75px;
  border-radius: 0 0 0 0;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  text-align: center;
  transition: 0.2s all linear;
}

.row button:hover{
  background-color: #e0e0e0;
}

.row button:active{
  background-color: #413e3e;
}

#equal{
  width: 150px;
}

#dot{
  font-weight: 600;
}